/* @import url("https://fonts.googleapis.com/css?family=Jura:400"); */
* {
    font-family: Jura, Arial;
    font-weight: 400;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  div#entry-page {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 400px) 1fr;
    grid-template-rows: 1fr minmax(auto, 1fr) 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    box-sizing: border-box;
  }
  div#entry-page form {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-gap: 10px;
    margin: auto 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
  }
  div#entry-page form h2 {
    margin-bottom: 5px;
    text-align: center;
    text-shadow: 0 4px 16px #fff;
    font-size: 30px;
    font-weight: 100;
  }
  div#entry-page form button {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  div#entry-page form button:hover {
    background-color: #eef;
    border: 1px solid #aaf;
  }
  div#entry-page form div{
    margin-bottom: 0;
  }
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }